body,
html {
  font-family: "Roboto", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

.logo {
  height: 30px;
  margin: 20px;
  align-content: center;
}

header {
  text-align: center;
}
header h2 {
  margin-top: 0;
  padding-top: 30px;
  font-size: 30px;
}

.description {
  background-color: #f6f6f6;
  padding-bottom: 50px;
  width: 100%;
}

.background-picture {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 30vh;
}

body.background-picture {
  position: relative;
  z-index: -1;
  width: 100%;
}

.header__menus a {
  text-decoration: none;
  color: black;
  position: absolute;
  left: 40px;
}

.header__menus {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.menus--title {
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
}

.far {
  font-size: 30px;
  padding-right: 20px;
}

.far:hover {
  -webkit-animation: heart 1.2s ease-in-out;
          animation: heart 1.2s ease-in-out;
  font-weight: bold;
  border: transparent;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@-webkit-keyframes heart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes heart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menus {
  z-index: 1;
  position: relative;
  background-color: #f6f6f6;
  border-radius: 25px 25px 0 0;
  margin-top: -30px;
  padding-bottom: 20px;
}
.menus h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  font-size: 25px;
}
.menus h5 {
  font-size: 18px;
  font-weight: 400;
  margin: 30px 0 0 20px;
  border-bottom: 2px solid #99E2D0;
  width: 45px;
}

.menus__bloc--1,
.menus__bloc--2,
.menus__bloc--3,
.menus__bloc--4 {
  border-radius: 10px;
  margin: 20px;
  background-color: white;
  box-shadow: 0px 1px 1px lightgray;
}

h6 {
  font-size: 18px;
  margin: 10px 0 0 10px;
  padding: 10px 0 0 10px;
}

.menus__description {
  display: flex;
  justify-content: space-between;
}

.menus__description__items {
  overflow: hidden;
}

.menus__hover {
  display: flex;
  flex-direction: row;
}

.menus__price {
  margin-right: 20px;
  display: flex;
  align-self: end;
  font-weight: bold;
}

.menus__description__items--light,
h6 {
  margin: 0;
  flex-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menus__description__items--light {
  padding: 10px;
  font-size: 14px;
}

.menus__bloc--1 .hover,
.menus__bloc--2 .hover,
.menus__bloc--3 .hover,
.menus__bloc--4 .hover {
  width: 50px;
  height: 70px;
  border-radius: 0px 10px 10px 0px;
  background-color: #99E2D0;
  display: none;
  justify-content: center;
  align-items: center;
  -webkit-animation: 0.6s ease-in-out slidein;
          animation: 0.6s ease-in-out slidein;
  color: white;
  font-size: 25px;
}
.menus__bloc--1 .hoveri,
.menus__bloc--2 .hoveri,
.menus__bloc--3 .hoveri,
.menus__bloc--4 .hoveri {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menus__bloc--1:hover .hover,
.menus__bloc--2:hover .hover,
.menus__bloc--3:hover .hover,
.menus__bloc--4:hover .hover {
  width: 50px;
  height: 70px;
  border-radius: 0px 10px 10px 0px;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: 100% 50%;
}
.menus__bloc--1:hover .hover2,
.menus__bloc--2:hover .hover2,
.menus__bloc--3:hover .hover2,
.menus__bloc--4:hover .hover2 {
  -webkit-animation: 800ms rotate 200ms;
          animation: 800ms rotate 200ms;
}

@-webkit-keyframes slidein {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes slidein {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@-webkit-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.menus .btn {
  display: flex;
  justify-content: center;
}

h4 {
  margin-top: 0;
}

@-webkit-keyframes delay {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes delay {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.menus__bloc--1 {
  -webkit-animation: delay 0.8s 0.3s backwards;
          animation: delay 0.8s 0.3s backwards;
}

.menus__bloc--2 {
  -webkit-animation: delay 0.8s 0.6s backwards;
          animation: delay 0.8s 0.6s backwards;
}

.menus__bloc--3 {
  -webkit-animation: delay 0.8s 0.9s backwards;
          animation: delay 0.8s 0.9s backwards;
}

.menus__bloc--4 {
  -webkit-animation: delay 0.8s 1.2s backwards;
          animation: delay 0.8s 1.2s backwards;
}

@media screen and (min-width: 1024px) {
  .menus__starter,
.menus__main-course,
.menus__desserts {
    width: 33%;
  }
  .menus__container {
    display: flex;
    justify-content: center;
  }
}
.searchform {
  display: flex;
  width: 100%;
  padding-bottom: 20px;
  background-color: rgb(220, 220, 220);
  justify-content: center;
  align-items: center;
  box-shadow: 0px -2px 2px rgb(185, 178, 178);
}
.searchform input {
  background-color: rgb(220, 220, 220);
  border: none;
  padding-left: 15px;
  margin: 5px;
  font-size: 16px;
}

.searchform i {
  margin-left: 55px;
}

.btn--rounded {
  justify-content: center;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 0px 3px 3px rgb(185, 178, 178);
  color: white;
  border-radius: 25px;
  border: none;
  padding: 15px;
  font-size: 18px;
  margin: 10px;
}
.btn--rounded:hover {
  filter: brightness(1.1);
  box-shadow: 0px 3px 3px rgb(42, 43, 43);
}

h2 {
  padding-left: 20px;
}

.functioning {
  padding: 30px 10px;
}

.steps-fonctioning {
  position: relative;
  display: flex;
  flex-basis: 100%;
  margin: 20px;
  align-items: center;
  border: 1px solid #f6f6f6;
  background-color: #f6f6f6;
  box-shadow: 0px 3px 3px rgb(185, 178, 178);
  border-radius: 15px;
  padding-left: 20px;
}
.steps-fonctioning i {
  padding-left: 20px;
  color: grey;
}

.steps-fonctioning:hover {
  background-color: #f5daf7;
}
.steps-fonctioning:hover i {
  color: #9356DC;
}

.steps-fonctioning p {
  padding-left: 20px;
  font-weight: bold;
}

span {
  position: absolute;
  left: -10px;
  height: 20px;
  width: 20px;
  color: white;
  background-color: #9356DC;
  border-radius: 25px;
  text-align: center;
}

.card-resto {
  background-color: #f6f6f6;
}
.card-resto h2 {
  padding-top: 50px;
}

.one-card-resto {
  margin: 20px;
  height: 280px;
  width: 90%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 3px 3px rgb(185, 178, 178);
  position: relative;
  cursor: pointer;
}
.one-card-resto:hover {
  transform: scale(1.02);
  transition: all 0.2s ease;
}
.one-card-resto a {
  text-decoration: none;
  color: black;
}

.new::before {
  content: "Nouveau";
  position: absolute;
  background-color: #99E2D0;
  padding: 5px;
  margin: 15px;
  right: 10px;
  color: #278870;
  font-weight: bold;
}

.one-card-resto__image {
  display: flex;
  border-radius: 10px 10px 0 0;
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.one-card-resto__text {
  margin-top: 15px;
}
.one-card-resto__text h3 {
  margin: 0;
  padding-left: 10px;
}
.one-card-resto__text p {
  margin: 0;
  padding: 5px 0 10px 10px;
}

.one-card-resto__text--heart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  background-color: #353535;
  color: white;
  padding-bottom: 30px;
}
footer i {
  padding: 0 10px 0 30px;
}

h4 {
  font-family: "Shrikhand", cursive;
  padding: 20px 0 0 30px;
  font-size: 20px;
  font-weight: 400;
}

.footer-links p {
  padding: 0;
}

footer p {
  padding-left: 30px;
  margin: 8px;
}

footer a {
  text-decoration: none;
  color: white;
  padding-left: 30px;
  margin: 8px;
}

@media screen and (min-width: 768px) {
  h2 {
    text-align: center;
  }
  .steps-container {
    display: flex;
  }
  .steps-fonctioning {
    padding: 0;
    justify-content: center;
  }
  .all-restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .one-card-resto {
    flex-basis: 44%;
    height: 350px;
  }
  .one-card-resto__image {
    height: 250px;
  }
  footer {
    text-align: center;
  }
}
.loader {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  position: fixed;
  z-index: 2;
  -webkit-animation: disepear 0.4s 1.9s forwards;
          animation: disepear 0.4s 1.9s forwards;
}

.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(0deg, #FF79DA, #9356DC, #99E2D0);
  margin: 10px;
  -webkit-animation: wave 1.5s linear forwards;
          animation: wave 1.5s linear forwards;
  border-radius: 20px;
}

.wave:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.wave:nth-child(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.wave:nth-child(4) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.wave:nth-child(5) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.wave:nth-child(6) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.wave:nth-child(7) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.wave:nth-child(8) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.wave:nth-child(9) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.wave:nth-child(10) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

@-webkit-keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@-webkit-keyframes disepear {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(2000px);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes disepear {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(2000px);
    opacity: 0;
    visibility: hidden;
  }
}/*# sourceMappingURL=main.css.map */