// header accueil//
.logo{
    height: 30px;
    margin: 20px;
    align-content: center;
    
}

header {
    text-align: center;
}

.description {
    background-color: $background-color;
    padding-bottom: 50px;
    width: 100%;
}
//header des menus//
.background-picture{
   object-fit: cover;
    width:100%;
    height:30vh;
}

body.background-picture {
    position: relative;
    z-index: -1;
    width: 100%;
}

.header__menus a {
    text-decoration: none;
    color: black;
    position: absolute;
    left: 40px;


}

.header__menus {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
