.logo{
    height: 30px;
    margin: 20px;
    align-content: center;
    
}

header {
    text-align: center;
}

.description {
    background-color: $background-color;
    padding-bottom: 50px;
    width: 100%;
}
