// titre  //
.menus--title {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
}

// presentations menus //
.menus {
    z-index: 1;
    position: relative;

    background-color: $background-color ;
    border-radius: 25px 25px 0 0;
    margin-top: -30px;
    padding-bottom: 20px;
}

// animation coche verte check//
.menus__description {
    display: flex;
    justify-content: space-between;
}

.menus__description__items {
    overflow: hidden;
}

.menus__hover {
    display: flex;
    flex-direction: row;
}

.menus__price {
    margin-right: 20px;
    display: flex;
    align-self: end;
    font-weight: bold;
}

.menus__description__items--light,
h6 {
    margin: 0;
    flex-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menus__description__items--light {
    padding: 10px;
    font-size: 14px;
}

.menus__bloc--1,
.menus__bloc--2,
.menus__bloc--3,
.menus__bloc--4 {
    //forme bloc //
    border-radius: 10px;
    margin: 20px;
    background-color: white;
    box-shadow: 0px 1px 1px lightgray;

    //coche//
    .hover {
        width: 50px;
        height: 70px;
        border-radius: 0px 10px 10px 0px;
        background-color: $color-tertiary;
        display: none;
        justify-content: center;
        align-items: center;
        animation: 0.6s ease-in-out slidein;
        color: white;
        font-size: 25px;

        &i {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &:hover {
        .hover {
            width: 50px;
            height: 70px;
            border-radius: 0px 10px 10px 0px;
            background-color: $color-tertiary;
            display: flex;
            justify-content: center;
            align-items: center;
            transform-origin: 100% 50%;
        }

        .hover2 {
            animation: 800ms rotate 200ms;
        }
    }
}



.menus .btn {
    display: flex;
    justify-content: center;
}


// animation menus//

@keyframes delay {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.menus__bloc--1 {
    animation: delay 0.8s 0.3s backwards;
}

.menus__bloc--2 {
    animation: delay 0.8s 0.6s backwards;
}

.menus__bloc--3 {
    animation: delay 0.8s 0.9s backwards;
}

.menus__bloc--4 {
    animation: delay 0.8s 1.2s backwards;
}

@media screen and (min-width: 1024px) {

    .menus__starter,
    .menus__main-course,
    .menus__desserts {
        width: 33%;
    }

    .menus__container {
        display: flex;
        justify-content: center;
    }
}