//box shadow//

@mixin box-shadow($colour: $background-color) {
    box-shadow: 0px 3px 3px rgb(185, 178, 178);
}

//heart//
@mixin heart{
    font-weight: bold;
    border: transparent;
    background: -webkit-linear-gradient($color-primary, $color-secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

//scale//
@mixin scale{
    transform:scale(1.02);
    transition:all 0.2s ease ;
}